footer {
    background-color: var(--color-technologies-grey);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode footer {
    background-color: var(--dark-navbar-bg);
}