.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-greenlime-dark);
    padding: 10px 20px;
    color: white;
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease, color 0.5s ease;
    border-radius: 10px;
}

.dark-mode .navbar {
    color: var(--dark-text);
}

.navbar-brand img {
    height: 50px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.navbar-brand img:hover {
    transform: scale(1.05);
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

.dark-mode .nav-links a {
    color: var(--dark-navbar-link);
}

.nav-links a:hover {
    color: var(--color-greenlime-light);
    transform: translateY(-2px) scale(1.05);
}

.nav-links a i {
    margin-right: 8px;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
}

.hamburger-menu .bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-white);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.dark-mode .hamburger-menu .bar {
    background-color: var(--dark-text);
}

.hamburger-menu.open .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

.hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
    transform: translateX(-20px);
}

.hamburger-menu.open .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

.dark-mode-toggle {
    background: none;
    border: none;
    color: var(--color-white);
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.dark-mode .dark-mode-toggle {
    color: var(--dark-text);
}

.dark-mode-toggle:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.dark-mode .dark-mode-toggle:hover {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .navbar {
        left: 10px;
        right: 10px;
        margin: 10px;
        top: 10px;
    }

    .navbar .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--color-greenlime-dark);
        position: absolute;
        top: 70px;
        left: 0;
        padding: 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .dark-mode .navbar .nav-links {
        background-color: var(--dark-navbar-bg);
    }

    .navbar .nav-links.active {
        max-height: 500px;
        opacity: 1;
        padding: 10px 0;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .hamburger-menu {
        display: flex;
    }

    .dark-mode-toggle {
        margin-left: 0;
        margin-top: 10px;
    }
}